<div *ngIf="categories">

<div class="row text-center">

	
		<div *ngFor='let in of counter(categories.count) ;let n = index'  class="col-md-4  float-left card ">
		
			 <h5 class="card-title">Category Name: {{categories._embedded.categories[n].name}}</h5>
			 <h5 class="card-title">Category ID: {{categories._embedded.categories[n].id}}</h5>
			
			<div *ngIf="items">
				
				  
				   <div *ngFor='let in of counter(items.count) ;let i = index'  >
					   <div *ngIf="categories._embedded.categories[n].id == items._embedded.menu_items[i]._embedded.menu_categories[0].id">
						   <div class="card-body">
						   
								<label><strong style="text-align:left" >items name:</strong></label> {{items._embedded.menu_items[i].name}}<br/>
								<label><strong style="text-align:left" >items Id:</strong></label> {{items._embedded.menu_items[i].id}}<br/>
								<label><strong style="text-align:left" >pos Id:</strong></label> {{items._embedded.menu_items[i].pos_id}}<br/>
								<label><strong style="text-align:left" >price per unit:</strong></label> {{items._embedded.menu_items[i].price_per_unit}}<br/>
								<label><strong style="text-align:left" >Cat Name:</strong></label> {{items._embedded.menu_items[i]._embedded.menu_categories[0].name}}<br/>
								<label><strong style="text-align:left" >Cat ID:</strong></label> {{items._embedded.menu_items[i]._embedded.menu_categories[0].id}}<br/>
							   
								<br/>
							
						  </div>
					  </div>
				  </div>
				 
				 
			
			</div>
		   
		</div>

			






<style>
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: floralwhite;
    text-align: left;
    padding: 5%;
    border-radius: 7px;
    margin: 5px;
}
.card-body:hover{
   
       color: #ffffe1;
    padding: 7%;
    background-image: linear-gradient(to right, #000000 , #1976d294);
    font-size: 17px;
    box-shadow: 2px 3px 2px #3e576e;
    border-radius: 1px;
    text-shadow: 0.2px 2px 0.5px #0f161d;
    margin: 10px;
}
</style>


</div>
</div>



<div class="row text-center">

<div class="col-md-6  float-left card">
<h2 class="card-title">Tickets:</h2>
	<div *ngIf="ticketss">
     
       <div *ngFor='let in of counter(ticketss.count) ;let i = index'  class="card-body">
        <label><strong style="text-align:left" >tickets number:</strong></label>{{ticketss._embedded.tickets[i].ticket_number}}<br/>
        <label><strong style="text-align:left" >ticketss Id:</strong></label> {{ticketss._embedded.tickets[i].id}}<br/>
        <label><strong style="text-align:left" >ticketss Id:</strong></label> {{ticketss._embedded.tickets[i].open}}<br/>
        
		<br/>
        
      </div>
     
     
    </div>
    </div>





<div class="col-md-6  float-left card">
<h2 class="card-title">Modifire:</h2>
	<div *ngIf="modifire">
      
       <div *ngFor='let in of counter(modifire.count) ;let i = index'  class="card-body">
        <label><strong style="text-align:left" >modifire name:</strong></label> {{modifire._embedded.modifiers[i].name}}<br/>
        <label><strong style="text-align:left" >modifire Id:</strong></label>{{modifire._embedded.modifiers[i].id}}<br/>
        <label><strong style="text-align:left" >status:</strong></label>{{modifire._embedded.modifiers[i].open}}<br/>
      
		<br/>
        
      </div>
     
     
    </div>
    </div>



</div>


