<div class="row text-center">
<p>Caregories:</p>

	<div *ngIf="categories">
      <h4>Menu</h4>
       <div *ngFor='let in of counter(categories.count) ;let i = index' >
        <label><strong>Category name:</strong></label> {{categories._embedded.categories[i].name}}<br/>
        <label><strong>Category Id:</strong></label> {{categories._embedded.categories[i].id}}<br/>
        <a class="badge badge-warning show" routerLink="/omni/menu/{{categories._embedded.categories[i].id}}">
        View Menu
      </a>
		<br/>
        
      </div>
     
     
    </div>

	
</div>