
 <form  (ngSubmit) = "getAuth()" >
	<div class="submit-form row col-md-12 ">
	  <div class="col-md-4">
	   
	  </div>
	 <div class="col-md-4">
		<div class="form-group ">
		  <label for="id">Api Key</label>
		  <input
			type="text"
			class="form-control"
			id="id"
			required
			name="api_key"
		  />
		</div>

		<div class="form-group">
		  <label for="restaurant">Restaurant ID</label>
		  <input
			class="form-control"
			id="restaurant"
			
			
			formControlName="restaurant"
		  />
		</div>
		<br>
		
		 
		  <button (click)="getAuth()" class="btn btn-secondary btn-lg btn-block" width="100">Authenticate Now</button>
		  <br/>
		  <br/>
		  
			   
				<h6  class="alert alert-success text-center" > {{ message  }} </h6>
				<div> {{ locationBTn  }} </div>
			  
	  </div>
	   <div class="col-md-4">
	   
	   </div>
	  
	</div>
</form>








 
  <style>

.btn-group-lg>.btn, .btn-lg {
   width:100%
}
</style> 
   

